<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    ...
</head>
<body>
<nav th:fragment="header"  class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MoneyConverter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a th:classappend="${module == 'conversion' ? 'active' : ''}" class="nav-link" aria-current="page" href="#" th:href="@{/conversion}">Мои переводы</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a th:classappend="${module == 'currencyfondmod' ? 'active' : ''}" class="nav-link" aria-current="page" href="#" th:href="@{/currency}">Список валют</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a th:classappend="${module == 'users' ? 'active' : ''}" class="nav-link" aria-current="page" href="#" th:href="@{/users}">Пользователи</a>
                </li>
            </ul>
            <div class="d-flex ml-auto">
                <p class="p-2 mb-0 text-white" sec:authorize="!isAuthenticated()" th:inline="text">Hello!</p>
                <a class="btn btn-outline-primary" href="/login" sec:authorize="!isAuthenticated()">Войти</a>
                <p class="p-2 mb-0 text-white" sec:authorize="isAuthenticated()" th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</p>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-primary" type="submit" value="Выйти"/>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>