<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pageTitle} + ' - MoneyConverter'">Template title</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <form class="form-signin" th:action="@{/currency/add}" th:object="${currencyFond}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Добавление новой валюты</h1>
                <div th:if="${mes}" th:text="${mes}" class="alert alert-danger" role="alert"></div>
                <div class="form-group">
                    <label>Код</label>
                    <input type="text" th:field="*{code}" class="form-control" th:classappend="${#fields.hasErrors('code')} ? 'is-invalid' : ''" placeholder="Код" autocomplete="off">
                    <div th:if="${#fields.hasErrors('code')}" class="invalid-feedback" th:errors="*{code}" >Name
                        Error</div>
                </div>
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" th:field="*{name}" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" placeholder="Название" autocomplete="off">
                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}" >Name
                        Error</div>
                </div>
                <button class="btn btn-primary" type="submit">Добавить</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script></body>
</html>