<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pageTitle} + ' - MoneyConverter'">Template title</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main class="container">
    <a class="btn btn-sm btn-primary mb-2" href="#" th:href="@{/conversion/make}">Конвертировать валюту</a>
    <table class="table" th:if="${!conversions.isEmpty()}">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Валюта</th>
            <th>Сумма конвертации, руб</th>
            <th>Курс</th>
            <th>Валюта</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="conversion : ${conversions}">
            <tr>
                <td th:text="${#dates.format(conversion.dateConversion, 'dd-MM-yyyy HH:mm')}">...</td>
                <td th:text="${conversion.currencyFond.name}">...</td>
                <td th:text="${conversion.transferAmount}">...</td>
                <td th:text="${conversion.currentCurrencyAmount}">...</td>
                <td th:text="${conversion.culcCurr}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:if="${conversions.isEmpty()}" class="alert alert-danger">Нет данных о конвертациях!</div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script></body>
</html>