<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pageTitle} + ' - MoneyConverter'">Template title</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main class="container">
    <a class="btn btn-sm btn-primary mb-2" href="#" th:href="@{/currency/add}">Добавить валюту</a>
    <form method="post" th:action="@{/currency/filter}" style="float: right;display: flex">
        <input class="form-control form-control-sm" type="text" name="filter" placeholder="Название" autocomplete="off">
        <button class="btn btn-sm btn-primary ml-2" type="submit">Найти</button>
    </form>
    <table class="table" th:if="${#lists.size(currencyFonds)>0}">
        <thead>
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="currencyFond : ${currencyFonds}">
            <tr>
                <td th:text="${currencyFond.code}">...</td>
                <td th:text="${currencyFond.name}">...</td>
                <td>
                    <span class="badge bg-success text-white" th:if="${currencyFond.status == true}">Вкл</span>
                    <span class="badge bg-danger text-white" th:if="${currencyFond.status == false}">Выкл</span>
                </td>
                <td class="d-flex">
                    <a href="#" th:href="'/currency/edit/'+${currencyFond.id}" class="btn btn-sm btn-primary">Редактировать</a>
                    <form class="ml-2" th:action="'/currency/delete/'+${currencyFond.id}" method="post">
                        <button class="btn btn-sm btn-danger" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:if="${#lists.size(currencyFonds) < 1}" class="alert alert-danger">Нет данных о валютах!</div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script></body>
</html>