<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pageTitle} + ' - MoneyConverter'">Template title</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Конвертер валют</h1>
        <p class="lead">Быстрый способ конвертировать ваши накопления в другие валюты</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Доллар США</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title my-4" th:text="${'$ '+USD}"></h1>
                    <a href="/conversion/make" class="w-100 btn btn-lg btn-primary">Обменять</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Евро</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title my-4" th:text="${'€ '+EUR}"></h1>
                    <a href="/conversion/make" class="w-100 btn btn-lg btn-primary">Обменять</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">Фунт стерлингов</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title my-4" th:text="${'£ '+GBP}"></h1>
                    <a href="/conversion/make" class="w-100 btn btn-lg btn-primary">Обменять</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</body>
</html>