<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MoneyConverter</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form th:action="@{/registration}" th:object="${user}" method="post">
    <div th:if="${passMessage}" th:text="${passMessage}" class="alert alert-danger" role="alert"></div>
    <div th:if="${mes}" th:text="${mes}" class="alert alert-danger" role="alert"></div>
    <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
    <input type="text" th:field="*{username}" class="form-control mb-2"  th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''" placeholder="Логин" autofocus=""
           autocomplete="off">
    <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback" th:errors="*{username}" >Name
        Error</div>
    <input type="text" th:field="*{surName}" class="form-control mb-2" th:classappend="${#fields.hasErrors('surName')} ? 'is-invalid' : ''" placeholder="Фамилия" autofocus=""
           autocomplete="off">
    <div th:if="${#fields.hasErrors('surName')}" class="invalid-feedback"  th:errors="*{surName}" >Name
        Error</div>
    <input type="text" th:field="*{name}" class="form-control mb-2" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" placeholder="Имя" autofocus=""
           autocomplete="off">
    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback"  th:errors="*{name}" >Name
        Error</div>
    <input type="text" th:field="*{secondName}" class="form-control mb-2" th:classappend="${#fields.hasErrors('secondName')} ? 'is-invalid' : ''" placeholder="Отчество" autofocus=""
           autocomplete="off">
    <div th:if="${#fields.hasErrors('secondName')}" class="invalid-feedback"  th:errors="*{secondName}" >Name
        Error</div>
    <input type="text" th:field="*{email}" class="form-control mb-2" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''" placeholder="Email" autofocus=""
           autocomplete="off">
    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback"  th:errors="*{email}" >Name
        Error</div>
    <input type="password" th:field="*{password}" class="form-control mb-2" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" placeholder="Пароль">
    <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback"  th:errors="*{password}" >Name
        Error</div>
    <input type="password" th:field="*{password2}" class="form-control mb-2" th:classappend="${#fields.hasErrors('password2')} ? 'is-invalid' : ''" placeholder="Подтверждение пароля">
    <div th:if="${#fields.hasErrors('password2')}" class="invalid-feedback"  th:errors="*{password2}" >Name
        Error</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    <a class="btn btn-lg btn-primary btn-block" href="/login">Авторизоваться</a>
    <p class="mt-5 mb-3 text-muted">© 2021 - MoneyConverter</p>
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>