<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${pageTitle} + ' - MoneyConverter'">Template title</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<main class="container">
    <div>
        <h4>Список пользователей</h4>
        <form method="post" th:action="@{/users/filter}" class="mb-2" style="float: left;display: flex">
            <input class="form-control form-control-sm" type="text" placeholder="Логин" name="filter" autocomplete="off">
            <button class="btn btn-sm btn-primary ml-2" type="submit">Найти</button>
        </form>
        <table class="table" th:if="${#lists.size(userList)>0}">
            <thead>
            <tr>
                <th>Логин</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Роли</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.username}">...</td>
                <td th:text="${user.surName}">...</td>
                <td th:text="${user.name}">...</td>
                <td th:text="${user.secondName}">...</td>
                <td th:text="${user.email}">...</td>
                <td><div th:each="us_r : ${user.roles}" th:text="${us_r}"></div></td>
                <td><a class="btn btn-sm btn-primary" role="button" href="#" th:href="@{/users/{id}(id=${user.id})}">Изменить</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer">Footer</div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}" ></script>
</body>
</html>